h1 {
  font-weight: bold;
}

/* HomePage CSS */
.home-page-gradient {
  /* background-color: red; */
  background-image: linear-gradient(to bottom left,
  rgb(185, 230, 240),
  rgb(124, 222, 240)

  )
  /* background-image: linear-gradient(to bottom left,  
  rgb(255, 255, 255),
  rgb(212, 212, 212)); */
  /* background-image: linear-gradient(to bottom left,  
  rgb(245, 245, 177),
  rgb(250, 229, 1)); */
  /* background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
  rgb(1, 122, 250)); */
}
.home-logo {
  padding-left: 10px;
  padding-top: 5px
}
.is-watermelon {
  background-color: #FF3B3F;
  color: white;
}
.hero-title {
  /* color: rgb(146, 146, 146); */
  font-size: 3rem;
}
.secondGrad{
  background-image: linear-gradient(to top left,  
  rgb(245, 245, 177),
  rgb(250, 229, 1));
}

.title-text {
  margin-left: 15%;
}
.title-text2 {
  margin-left: 15%
}
/* HomePageHeader CSS */
.header-button {
  margin-top:10px;
}

/* Main Page CSS  */
#body-content {
  /* background-color: rgb(255, 255, 255); */
  background-color: #EFEFEF;
  /* background-color: #CAEBF2;  */
  width: auto;
  min-height: 100vh;
  padding-bottom: 100px;
  /* height: 1000px; */
}
.main-content {
  /* border: 1px solid black; */
}

/* Dashboard CSS */


#dashboard-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard-button {
  width: 200px;
  height: 100px;
}
.dashboard-button-text {
  font-size: 1.5rem;
  font-weight:bold;
}
.dashboard-create-flashcard {
  background-color: white !important;
  font-size: 3rem;
}
/* UserHeader CSS */
.navbar-container {
  border: 1px solid black;
}
.button-border {
  border: 1px solid black;
}
.header-flex-content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 5px 10px 10px;

  border-bottom: 1px solid rgb(219, 219, 219);
  /* background-color: rgb(255, 255, 96); */
  /* SKY */
  /* background-color: #CAEBF2;  */
  /* POWDER */
  /* background-color: #BFD8D2   */
  /* CERULEAN */
  /* background-color: #4484CE  */
  /* SCREEN */
  /* background-color: #C5C1C0  */

}
.level.header-flex-content {
  margin-bottom: 0;
}
.header-button {
  margin-left: 5px;
  margin-right: 5px;
}
.user-home-logo {
  margin-left: auto;
  margin-right: auto; 
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  /* padding-left: 10%; */
  padding-top: 10px;
  padding-right: 60px;
}
/* ViewSet CSS */
.cardset-info-flex-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.cardset-setname-flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cardset-options-flex-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.flashcard-box{
  width: 275px;
  /* display: flex; */
  /* flex: 1; */
  justify-content: space-evenly;
  height: 200px;
  /* background-color: rgb(233, 233, 233); */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
}

.setname-box{
  width: 150px;
  height: 75px;
}

.setname-text {
  font-size: 2.5rem;
}

.description-box{
  width: 300px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flashcard-flex-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}


/*Create View css */
#create-view-form {
  padding-top: 20px;
}
.set-name-field{
  width: 400px;
}

.text-area-level{
  width: 400px ;
  margin: auto;
}
.input-forms-container {
  /* display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-items: center;
  justify-content: center; */
  margin-right: 25px;

}
.add-button-container{
  /* width: 100px; */
  margin-left: 48%
}

.submit-button-container {
  padding-right: 10px;
  margin-right: 3%;
}
#create-button-container {
  padding-top: 20px;
  flex-direction: row;

}
.term-input {
  width: 90%;
}

.create-card-form {
  margin: 10px 5px;
}
.button-border {
  border: 1px solid black;
}

.term-def-container {
  padding-right: 10px
}
/* Quiz CSS */
.flashcard-answer{
  width: 275px;
  /* display: flex; */
  /* flex: 1; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
  background-color: rgb(233, 233, 233);
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
}

.flashcard-question{
  width: 300px;
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: space-evenly; */
  height: 200px;
  background-color: rgb(233, 233, 233);
  /* margin-left: auto;
  margin-right: auto; */
  border: 1px black solid;
}

.flashcard-counter {
  width: 100px;
  /* margin-left:auto;
  margin-right: auto; */
}

.quiz-question-flex-container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 25px;
}

.return-to-view-button {
  margin-right:auto;
}
.quiz-term-box {
  margin-right:auto;
}

.is-correct-card {
  background-color: rgb(0, 255, 0);
}

.is-wrong-card {
  background-color: rgb(255, 71, 71);
}
/* SIGNUP VIEW
*/
.signup-field{
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.sign-up-container{
  padding-top: 85px;
  background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
   rgb(1, 122, 250));
   min-height: 100vh;
}

.sign-title{
  font-size: 28px;
  padding-bottom: 15px;
}


/* LOG IN VIEW */
.login-field{
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.log-in-container{
  padding-top: 175px;
  background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
   rgb(1, 122, 250));
   min-height: 100vh;
}

.checkbox{
  padding-bottom: 15px;
}

/* EDIT CSS */
.edit-set-name-field {
  margin-right: 130px;

}