/* Typography */
@font-face {
  font-family: American Typewriter;
  src: url('./fonts/american_typewriter.woff');

}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
h1 {
  font-weight: bold;
}
.type-writer-font {
  font-family: American Typewriter, serif
}
.roboto-font {
  font-family: Roboto, Arial, Helvetica, sans-serif;;
}

/* Animations */
.transition {
  transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

/* HomePage CSS */

.full-height {
  height: 100vh;
}
@media (max-width: 768px) {
  .title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home-page-gradient {
  /* background-color: red; */
  background-image: linear-gradient(to bottom left,
  rgb(185, 230, 240),
  rgb(124, 222, 240)

  )
  /* background-image: linear-gradient(to bottom left,  
  rgb(255, 255, 255),
  rgb(212, 212, 212)); */
  /* background-image: linear-gradient(to bottom left,  
  rgb(245, 245, 177),
  rgb(250, 229, 1)); */
  /* background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
  rgb(1, 122, 250)); */
}

.home-logo {
  padding-left: 10px;
  padding-top: 5px
}

.is-watermelon {
  background-color: #FF3B3F;
  color: white;
}

.hero-title {
  /* color: rgb(146, 146, 146); */
  font-size: 3rem;
}

.secondGrad{
  background-image: linear-gradient(to top left,  
  rgb(185, 230, 240),
  rgb(124, 222, 240))
}

.footer-text {
  text-align: center;
}

/* HomePageHeader CSS */

.header-shadow {
  box-shadow: 0 8px 16px rgba(10,10,10,.1);
}

.header-button {
  margin-top:10px;
}


/* Main Page CSS  */
#body-content {
  /* background-color: rgb(255, 255, 255); */
  background-color: #EFEFEF;
  /* background-color: #CAEBF2;  */
  width: auto;
  min-height: 100vh;
  padding-bottom: 100px;
  /* height: 1000px; */
}


/* Dashboard CSS */

#dashboard-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard-button {
  width: 200px;
  height: 100px;
}
.dashboard-button:hover {
  opacity: 0.85;
}
.dashboard-button-text {
  font-size: 1.5rem;
  font-weight:bold;
}
.dashboard-create-flashcard {
  background-color: white !important;
  font-size: 3rem;
}
.dashboard-display-flashcard {
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
/* UserHeader CSS */
.navbar-container {
  border: 1px solid black;
}
.button-border {
  border: 1px solid black;
}
.header-flex-content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 5px 10px 10px;

  border-bottom: 1px solid rgb(219, 219, 219);
  /* background-color: rgb(255, 255, 96); */
  /* SKY */
  /* background-color: #CAEBF2;  */
  /* POWDER */
  /* background-color: #BFD8D2   */
  /* CERULEAN */
  /* background-color: #4484CE  */
  /* SCREEN */
  /* background-color: #C5C1C0  */

}
.level.header-flex-content {
  margin-bottom: 0;
}
.header-button {
  margin-left: 5px;
  margin-right: 5px;
}
.user-home-logo {
  margin-left: auto;
  margin-right: auto; 
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  /* padding-left: 10%; */
  padding-top: 10px;
  padding-right: 60px;
}
/* ViewSet CSS */
.cardset-info-flex-container {
  margin-left: 7.5%;

}
.cardset-setname-flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cardset-options-flex-container {
  display: flex;
  flex-direction: row; 
  align-self: flex-start;
}
.viewset-flashcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

}
.flashcard-box{
  width: 275px;
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: space-evenly; */
  height: 200px;
  /* background-color: rgb(233, 233, 233); */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
  
}

@media (max-width: 1307px) {
  .quiz-flex {
    flex: 0 50%;

  }
}

.setname-box{
  width: 50vw;

  margin-bottom: 20px;
}

.setname-text {
  font-size: 2.5rem;
}

.description-box{
  width: 300px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flashcard-flex-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}


/*Create View css */
#create-view-form {
  padding-top: 20px;
}
.set-name-field{

}
@media (min-width: 769px) {
  .text-area-level{

    padding: 0 20% 16px 20%;
  }
}
@media (max-width: 768px) {
  .text-area-level{
    padding: 0 20% 8px 20%;
  }
}

.input-forms-container {

}

.add-button-container{
  padding-bottom: 16px;
}


.submit-button-container {

}


#create-button-container {
  flex-direction: column;
}

@media (max-width: 768px){
  #create-button-container {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.term-input {
  /* width: 90%; */
}

.create-card-form {
  margin: 10px 5px;
}
.button-border {
  border: 1px solid black;
}

@media (min-width: 769px) {
  .term-def-container {
    width: 100%;
    padding: 0 10% 20px 10%;
  }
}
@media (max-width: 768px) {
  .term-def-container {
    width: 100%;
    padding: 0 10% 16px 10%;
  }
}

.level-item.no-margin-bottom {
  margin-bottom: 0;
}
/* Quiz CSS */
.flashcard-answer{
  width: 275px;
  /* display: flex; */
  /* flex: 1; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
  background-color: rgb(233, 233, 233);
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
}
.quiz-flashcard-wordwrap {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.flashcard-answer-container {
  flex-wrap: wrap;

}
.flashcard-question{
  width: 400px;
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: space-evenly; */
  height: 300px;
  background-color: rgb(233, 233, 233);
  /* margin-left: auto;
  margin-right: auto; */
  border: 1px black solid;
}

.flashcard-counter {
  width: 100px;
  /* margin-left:auto;
  margin-right: auto; */
}
.term-text {
  font-size: 2.0em;
}
.quiz-question-flex-container {
  display: flex;
  padding-top: 25px;
  flex-direction: column;

}

/* @media (max-width: 768px) {
  .quiz-question-flex-container{
    flex-direction: column;

  }
} */
.return-to-view-button {
  margin-left: 5%;
}

.quiz-term-box {
  display: flex;
  margin-left:auto;
  margin-right:auto;
  max-width: 400px;
  width: 90vw;
  height: 250px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.is-correct-card {
  background-color: rgb(0, 255, 0);
}

.is-wrong-card {
  background-color: rgb(255, 71, 71);
}
.red-text {
  color: rgb(255, 71, 71);
}

.green-text {
  color: rgb(0, 180, 0);
}

#quiz-results{
  font-size: 2rem;
}
 
.flex-column {
  display: flex;
  flex-direction: column;
}
.quiz-status {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px){
  .quiz-status {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
}
/* SIGNUP VIEW
*/
.signup-field{
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.sign-up-container{
  padding-top: 85px;
  background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
   rgb(1, 122, 250));
   min-height: 100vh;
}

.sign-title{
  font-size: 28px;
  padding-bottom: 15px;
}


/* LOG IN VIEW */
.login-field{
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.log-in-container{
  padding-top: 175px;
  background-image: linear-gradient(to bottom left,
   rgb(246, 252, 124) 1%,
   rgb(89, 233, 249) 75%,
   rgb(1, 122, 250));
   min-height: 100vh;
}

.checkbox{
  padding-bottom: 15px;
}


/*Profile View */
.profile-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  /* height: 450px; */
  
}
.profile-level{
  padding-top: 50px;
  justify-content: center;
  /* width: 90%; */
}

/* EDIT CSS */
/* .edit-set-name-field {
  margin-right: 130px;
} */

.edit-view-form {
  padding-top: 25px;
}

/* About Us CSS  */
.about-us-text{
  opacity: 0.8;
  position: absolute;
  top: 8px;
  right: 16px;
}
.about-us-font{
  font-size: 1.5rem;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
#aspire{
  padding-left: 10px;
}
.top-right{
  position: absolute;
    top: 8px;
    right: 16px;
    width: 450px;
    text-align: left;
    padding-left: 50px;
}

.creator-font{
  color: whitesmoke;
  font-size: 2rem;
}


.about-us-container{
  position: relative;
  text-align: center;
}

.home-page-gradient2{
  background-image: linear-gradient(to top left,
  rgb(185, 230, 240),
  rgb(124, 222, 240)
  )
}

@media (min-width: 769px) {
  .mobile-wide-width {
    min-width: 110%;
    max-width: 115%;
  } 
}
@media (max-width: 768px) {
  .mobile-wide-width {
    width: 200%;
    transform: translateX(-5%);
  }
}

.transparent-background {
  background-color: rgb(87, 85, 94, 0.7);
  position: absolute;
}

@media (min-width: 769px) {
  .brought-to-you.center-text {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(25%, -50%);
  }
}
@media (max-width: 768px) {
  .brought-to-you.center-text {
    position: absolute;
    top: 50%;
    left: calc(150% - 119%);
    transform: translate(-50%, -50%);
  }
}

.home-signup-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;

}
.home-login-text {
  padding-left: 5px;
}